@import 'reset.scss';
@import 'common.scss';
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

.login-layout {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;

  &__page-title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__submit-wrap {
    margin: 30px auto;
  }
}

.dashboard-layout {
  padding-top: 30px;

  &__page-title {
    margin-bottom: 20px;
  }

  .payment-box {
    width: 500px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;

    h3 {
      text-align: left;
      margin-bottom: 20px;
    }

    .StripeElement {
      border: solid 1px #ced4da;
      border-radius: 3px;
      padding: 10px;

      &--invalid {
        border: solid 1px #9e2146;
      }
    }
  }

  .link-box {
    width: 500px;
    margin: 20px auto;
    text-align: right;
  }
}
